<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Website</title>
    <!-- Link to Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Link to Bootstrap JavaScript and jQuery (required for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- masonry -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="src\lib\unpkg.com_imagesloaded@5.0.0_imagesloaded.pkgd.min.js"></script>
    <!-- Link to custom CSS file-->
    <link rel="stylesheet" href="style/index.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header id="header">
      <script src="components/navbar/navbar.js"></script> <!-- Include the shared JavaScript file -->
    </header>

    <main>

    </main>

    <footer class="bg-dark text-light text-center py-3">
      <p>&copy; Olga Gavrysh</p>
    </footer>

    <!-- Link to custom js -->
    <script src="src/about.js"></script>
  </body>
</html>
